@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

$orange: #88eed2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui;
}

.container {
  max-width: 333px;
  margin: 0 auto;
  min-height: calc(100vh - 36px);
  padding: 0 10px;

  &.lg {
    max-width: 700px;
  }

  &.auto-height {
    min-height: auto !important;
  }
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.post {
  position: relative;
  width: 100%;
  max-width: 333px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  height: 200px;

  &-filter {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  &-sizes, &-sex {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &-sizes-item, &-sex-item {
    color: white;
    border-radius: 20px;
    background: $orange;
    padding: 5px 10px;
  }

  &::after {
    position: absolute;
    content: '';
    background: black;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .1s ease-in;
    opacity: 0;
  }

  &-toolbar {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;

    div {
      background: white;
      display: flex;
      border-radius: 100%;
      justify-content: center;
      width: 30px;
      color: #1e1e1e;
      align-items: center;
      height: 30px;
    }
  }

  &:hover {
    &::after {
      opacity: .5;
    }

    .post-price {
      left: 10px;
    }

    .post-articul {
      right: 10px;
    }
  }

  &-price {
    position: absolute;
    bottom: 10px;
    left: -100%;
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    font-size: 18px;
    color: white;
    font-weight: bold;
    z-index: 2;
  }

  &-articul {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: -100%;
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
}

.admin-title {
  padding: 30px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans 3', sans-serif;
}

.logo {
  display: block;
  text-align: center;
  padding: 15px 0;
  padding-top: 50px;

  img {
    width: 135px;
  }
}

.btn {
  color: white;
  text-transform: uppercase;
  background: $orange;
  cursor: pointer;
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 15px;

  &.fill {
    width: 100%;
  }

  &.home-btn {
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 40px;
  }
}

.home-title {
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.field {
  margin: 10px 0;
  height: 39px;
  width: 100%;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 100px;
  text-decoration: none;
  border-style: none;
  padding: 0 30px;
  outline: none;
}

.footer {
  text-align: center;
  background: $orange;
  color: white;
  padding: 8px 0;
  font-size: 15px;
}

.social-btn {
  background: #FFFFFF;
  border: 3px solid #ccc;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  img {
    width: 20px;
  }

  &.whatsapp {
    color: rgba(23, 167, 0, 0.42);
    border-color: rgba(23, 167, 0, 0.42);
  }

  &.apk {
    color: $orange;
    border-color: $orange;
  }

  &.telegram {
    color: rgba(0, 87, 255, 0.53);
    border-color: rgba(0, 87, 255, 0.53);
  }
}

.review {
  margin-bottom: 1rem;
  width: 300px;
  padding: 0 10px;
  position: relative;

  .post-toolbar {
    bottom: -20px;
    right: 0;
  }

  .post-delete {
    box-shadow: 0 0 5px #00000042;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
  }

  &-rating {
    color: gold;
  }

  &-body {
    font-size: 14px;
  }
}

.carousel-arrow {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #000000;
}

.filter {
  margin-bottom: 3rem;
  &-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0;
  }

  &-item {
    background: #dddddd;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    &.active {
      background: $orange;
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  box-shadow: 0 5px 9px #00000017;
  border-radius: 30px;
  align-items: center;
  padding: 6px 20px;

  &-btn {
    color: white;
    border: none;
    background: #88eed2;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100%;
  }

  &-articul {
    background: #4e4e4e;
    border-radius: 30px;
    color: white;
    padding: 3px 15px;
    font-size: 12px;
  }

  &-left, &-right {
    display: flex;
    gap: 10px;
  }
}

.product + .product {
  margin-top: 10px;
}

.order-details {
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 14px;
  padding-left: 30px;

  .order-detail {
    display: flex;
    justify-content: space-between;
  }

  .order-detail + .order-detail {
    margin-top: 10px;
  }
}

.empty-result {
  width: 333px;
  height: 39px;
  text-decoration: none;
  border-style: none;
  outline: none;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  background: rgba(248, 133, 119, 0.5);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404040;
}

.pay-btn {
  border-style: none;
  width: 182px;
  height: 40px;
  border-radius: 44px;
}

.consultants {
  display: flex;
  justify-content: space-evenly;

  img {
    width: 57px;
  }
}

.lightbox-img-thumbnail {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  margin: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .lightbox-img-thumbnail:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.lightbox-content-center {
  width: 100%;
  height: 100%;
  position: absolute;
}

.lightbox-modifiers-box {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (min-height: 600px) {
  .lightbox-modifiers-box {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .lightbox-image-container {
    margin: 0 5em;
  }
}

.lightbox-image-container {
  overflow: hidden;
  height: calc(100% - 102px);
  margin-top: 40px;
}

.lightbox-image {
  height: 100%;
  background-repeat: no-repeat;
}

.lightbox-image.moving {
  transition: none;
}

.lightbox-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  fill: white;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

html.lightbox-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.lightbox-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  z-index: 100;
}

.lightbox-btn-left,
.lightbox-btn-right,
.lightbox-btn-close,
.lightbox-title-content,
.lightbox-modifiers-box {
  transition: opacity 200ms ease;
}

@media (max-width: 767px) {
  .hide-controls .lightbox-btn-left,
  .hide-controls .lightbox-btn-right {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-height: 599px) {
  .hide-controls .lightbox-btn-close,
  .hide-controls .lightbox-title-content,
  .hide-controls .lightbox-modifiers-box {
    opacity: 0;
    pointer-events: none;
  }
}

.lightbox-btn-close {
  position: fixed;
  left: 0px;
  z-index: 2;
}

.lightbox-btn-right {
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  right: 0px;
}

.lightbox-btn-left {
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  left: 0px;
}

@media (min-width: 768px) {
  .lightbox-btn-right {
    padding-right: 10px;
  }

  .lightbox-btn-left {
    padding-left: 10px;
  }
}

.lightbox-title-content {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  text-align: center;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
}

.lightbox-title {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.lightbox-description {
  color: #C5C5C5;
  font-size: 14px;
}

.lightbox-transition-image-appear {
  opacity: 0.1;
}

.lightbox-transition-image-appear.lightbox-transition-image-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.lightbox-transition-image-enter-right {
  transform: translate(100%);
}

.lightbox-transition-image-enter-right.lightbox-transition-image-enter-right-active {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}

.lightbox-transition-image-leave-right {
  transform: translate(0%);
}

.lightbox-transition-image-leave-right.lightbox-transition-image-leave-right-active {
  transform: translate(-100%);
  transition: transform 300ms ease-in-out;
}

.lightbox-transition-image-enter-left {
  transform: translate(-100%);
}

.lightbox-transition-image-enter-left.lightbox-transition-image-enter-left-active {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}

.lightbox-transition-image-leave-left {
  transform: translate(0%);
}

.lightbox-transition-image-leave-left.lightbox-transition-image-leave-left-active {
  transform: translate(100%);
  transition: transform 300ms ease-in-out;
}

.lightbox-btn {
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background: none;
  border: 1px solid transparent;
  fill: white;
  opacity: 0.8;
  outline: none;
  margin: 2px 2px;
  padding: 0 0;
  -webkit-tap-highlight-color: #ffffff00;
}

.lightbox-btn:hover {
  opacity: 1;
  transition: opacity 200ms ease;
}

.lightbox-btn--ripple circle {
  fill: none;
}

.lightbox-btn--ripple:hover circle {
  transform: scale(3);
  transform-origin: 33% 33%;
  fill: #64646480;
  transition: transform 200ms ease;
}


.products, .lightbox-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}